.profile {
    width: 80%;
    padding: 10px;
    border: 2px solid black;
    margin: 0;
    border-radius: 25px;
    float: right;
    margin-top: 11%;
    margin-right: 10%;
    line-height: 2.5;
}

.profilebox .lineEducation{
    width: 40%;
    color: #f28d18;
    box-shadow: 0 0 5px 0 rgb(242,141,24);
    margin-left: 30%;
    border: 2px solid #f28d18;
}


/*------------------profile check box-----------------*/

.profilebox{
    
    margin-bottom: 3%;
}

.profilebox h1{
    text-align: center;
    color: #eda32b;
    font-size: 45px;
}

.profilebox .noProfile h2{
    text-align: center;
}

.profilebox .noProfile .btn.btn-lg.btn-primary{
    width: 16%;
    margin-left: 42%;
}

/*--------------create profile-------------------*/
.createProfile h1{
    text-align: center;
    color: #eda32b;
    margin-top: 3%;
    margin-bottom: 3%;
}

.createProfile .mb-3 .form-label{
    margin-left: 10%;
    color: blue;
}

.createProfile .mb-3 .form-control{
    float: right;
    margin-right: 16%;
}

.createProfile .mb-3 textarea{
    float: right;
    margin-right: 20%;
}

.createProfile .mb-3 .form-check-label{
    margin-left: 1%;
}

.createProfile .mb-3 .form-check{
    margin-left: 25%;
}

.createProfile .form-label.form-control{
    display: none;
}

.createProfile .btn.btn-lg.btn-primary.btn-block{
    display: inline-block;
    width: 16%;
    margin-right: 20%;
    margin-left: 25%;
    margin-bottom: 5%;
    background-color:#f28d18;
    font-size: 24px;
    border: 3px solid grey;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.createProfile .btn.btn-lg.btn-secondary.btn-block{
    display: inline-block;
    width: 16%;
    margin-bottom: 5%;
    font-size: 24px;
    height: 65px;
    border: 3px solid grey;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

/*----------------------profile page-------------------*/

.profilebox .profileMain img{
    display: inline-block;
    margin-top: 7%;
    margin-left: 17%;
    border-radius: 100%;
    border: 2px solid black;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.profilebox .profileMain .userinfo{
    display: inline-block;
    width: 45%;
    margin-right: 10%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.profilebox .profileMain .userinfo h5{
    margin-left: 5%;
}

.profilebox .profileMain .userinfo h3{
    margin-left: 5%;
}



/* .profilebox .profileMain .userinfo .profileAbout{
    display: none;
} */

.profilebox .profileMain .userinfo h4{
    display: none;
}

.profilebox .profileMain .btn.btn-lg.btn-primary{
    width: 16%;
    display: inline-block;
    margin-top: 4%;
    margin-left: 25%;
    margin-right: 20%;
    margin-bottom: 3%;
    font-size: 24px;
}

.profilebox .profileMain .btn.btn-danger.btn-lg {
    width: 16%;
    display: inline-block;
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 24px;
}

/*-----------------------Edit Profile ----------------*/

#profileForm .mb-3 .form-label{
    margin-left: 17%;
    color: blue;
    font-size: 24px;
}

#profileForm .mb-3 .form-control{
    float: right;
    margin-right: 16%;
    margin-top: 1%;
    width: 50%;
}

#profileForm .form-label.form-control{
    display: none;
}

#profileForm .mb-3 .form-check-label{
    margin-left: 1%;
}

#profileForm .mb-3 .form-check{
    margin-left: 35%;
}

#profileForm .btn.btn-lg.btn-primary.btn-block{
    display: inline-block;
    width: 16%;
    margin-top: 2%;
    margin-right: 20%;
    margin-left: 25%;
    margin-bottom: 5%;
    background-color:#f28d18;
    font-size: 24px;
    border: 3px solid grey;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

#profileForm .btn.btn-lg.btn-secondary.btn-block{
    display: inline-block;
    width: 16%;
    margin-bottom: 5%;
    font-size: 24px;
    height: 65px;
    margin-top: 2%;
    border: 3px solid grey;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

/*----------------------Education -----------------*/
.education{
    width: 80%;
    padding: 10px;
    border: 2px solid black;
    margin: 0;
    border-radius: 25px;
    float: right;
    margin-top: 11%;
    margin-right: 10%;
    line-height: 2.5;
}

.profilebox .educationdetails{
    color: #eda32b;
    display: inline-block;
    margin-left: 37%; 
    margin-top: 3%;  
}

.profilebox h6{
    text-align: center;
    font-size: 30px;
    margin-top: 3%;
}


.profilebox .educationAddBtn {
    display: inline-block;
    width: 30%;
    outline: none;
    border: none;
}

.profilebox .educationprofile h4{
    margin-left: 10%;
    margin-top: 2%;
}

.profilebox .educationprofile{
    width: 60%;
    margin-right: 20%;
}

.profilebox .educationprofile .btn.btn-primary{
    display: inline-block;
    width: 24%;
    margin-left: 20%;
    margin-right: 15%;
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 24px;
}

.profilebox .educationprofile .btn.btn-danger{
    display: inline-block;
    width: 24%;
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 24px;
}

.profilebox .educationprofile hr{
    width: 25%;
    color: #f28d18;
    box-shadow: 0 0 5px 0 rgb(242,141,24);
    margin-left: 35%;
    border: 2px solid #f28d18;
}

/*------------------Edit education----------------------*/

.educationprofile{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

#educationForm h2{
    text-align: center;
    color: #eda32b;
    font-size: 34px;
    margin-top: 3%;
}

#educationForm .form-control{
    margin-left: 20%;
    margin-top: 2%;
}

#educationForm .form-label{
    margin-left: 20%;
    margin-top: 2%;
    display: inline-block;
}

#educationForm .form-check-input{
    margin-left: 45%;
}

#educationForm .form-check-label{
    margin-left: 1%;
}

#educationForm .btn.btn.btn-lg.btn-primary{
    width: 22%;
    display: inline-block;
    margin-left: 19%;
}

#educationForm .btn.btn.btn-lg.btn-secondary{
    width: 22%;
    display: inline-block;
    font-size: 24px;
    height: 64px;
}

/*------------------------education form --------------------*/

.education{
    width: 80%;
    padding: 10px;
    border: 1.5px solid black;
    margin: 0;
    border-radius: 25px;
    float: right;
    margin-top: 3%;
    margin-right: 10%;
    line-height: 2;
    background: #f8f8f8;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.education h1{
    text-align: center;
    color: #f28d18;
    font-weight: 1.3%;
    font-family: 'Poppins', sans-serif; 
    margin-bottom: 3%;
    margin-top: 2%;
}

.mb-3{
   margin-top: 2%;
}

.education .form-label.form-control{
    display: none;
}

.form-label{
    display: inline;
}

.education .mb-3 .form-check{
    margin-left: 18%;
}

.education .mb-3 .form-check-label{
    margin-left: 1%;
}

.education .mb-3 input{
    margin-left: 3%;
}


.form-control{
    display: inline;
    width: 60%;
    height: 40px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

.education button{
    margin-left: 40%;
    width: 18%;
    height: 20%;
    background: #f28d18;
    border: 4px solid grey;
    position: relative;
    margin-bottom: 2%;
}

.education button:hover{
    
    background: #f28d18;
    border: 4px solid grey;
    position: relative;
}

.education button::before, .education button::after{
    content: "";
    position: absolute;
    width: 18px;
    height: 4px;
    background: red;
    transform: skew(50deg);
    transition: .4s linear;
}

.education button::before{
    top: -4px;
    left: 10%;
}

.education button::after{
    bottom: -4px;
    right: 10%;
}

.education button:hover::before{
    left: 80%;
}

.education button:hover::after{
    right: 80%;
    
}


/*--------------------work ----------------------*/
.work{
    width: 80%;
    padding: 10px;
    border: 2px solid black;
    margin: 0;
    border-radius: 25px;
    float: right;
    margin-top: 11%;
    margin-right: 10%;
    line-height: 2.5;
}

.profilebox .workdetails{
    color: #f28d18;
    margin-top: 5%;
    margin-left: 40%;
    display: inline-block;
}

.profilebox .workAddBtn {
    display: inline-block;
    width: 30%;
    outline: none;
    border: none;
}

.profilebox .workprofile h4{
    margin-left: 10%;
    margin-top: 2%;
}

.profilebox .workprofile{
    width: 60%;
    margin-right: 20%;
}

.profilebox .workprofile .btn.btn-primary{
    display: inline-block;
    width: 24%;
    margin-left: 20%;
    margin-right: 15%;
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 24px;
}

.profilebox .workprofile .btn.btn-danger{
    display: inline-block;
    width: 24%;
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 24px;
}

.profilebox .workprofile hr{
    width: 25%;
    color: #f28d18;
    box-shadow: 0 0 5px 0 rgb(242,141,24);
    margin-left: 35%;
    border: 2px solid #f28d18;
}

/*---------------------Edit work ---------------------*/

.workprofile{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

#workForm h2{
    text-align: center;
    color: #f28d18;
    font-size: 34px;
    /* margin-top: 30%; */
}

#workForm .form-control{
    margin-left: 20%;
    margin-top: 2%;
}

#workForm .form-label{
    margin-left: 20%;
    margin-top: 2%;
    display: inline-block;
}

#workForm .form-check-input{
    margin-left: 45%;
}

#workForm .form-check-label{
    margin-left: 1%;
}

#workForm .btn.btn.btn-lg.btn-primary{
    width: 22%;
    display: inline-block;
    margin-left: 19%;
}

#workForm .btn.btn.btn-lg.btn-secondary{
    width: 22%;
    display: inline-block;
    font-size: 24px;
    height: 64px;
}


/*-------------------------Add work form------------------*/

.work{
    width: 80%;
    padding: 10px;
    border: 1.5px solid black;
    margin: 0;
    border-radius: 25px;
    float: right;
    margin-top: 3%;
    margin-right: 10%;
    line-height: 2;
    background: #f8f8f8;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.work h1{
    text-align: center;
    color: #f28d18;
    font-weight: 1.3%;
    font-family: 'Poppins', sans-serif; 
    margin-bottom: 3%;
    margin-top: 1%;
}

.mb-3{
   margin-top: 2%;
   margin-left: 5%;
}

.form-label{
    display: inline;
}

.work .mb-3 input{
    margin-left: 3%;
}

.work .form-label.form-control{
    display: none;
}

.work .mb-3 .form-check{
    margin-left: 16%;
}

.work .mb-3 .form-check-label{
    margin-left: 1%;
}

.form-control{
    display: inline;
    width: 60%;
    height: 40px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

.work button{
    margin-left: 40%;
    width: 18%;
    height: 20%;
    background: #f28d18;
    border: 4px solid grey;
    position: relative;
    margin-bottom: 2%;
}

.work button:hover{
    
    background: #f28d18;
    border: 4px solid grey;
    position: relative;
}

.work button::before, .education button::after{
    content: "";
    position: absolute;
    width: 18px;
    height: 4px;
    background: red;
    transform: skew(50deg);
    transition: .4s linear;
}

.work button::before{
    top: -4px;
    left: 10%;
}

.work button::after{
    bottom: -4px;
    right: 10%;
}

.work button:hover::before{
    left: 80%;
}

.work button:hover::after{
    right: 80%;
    
}

