.profile {
    width: 80%;
    padding: 10px;
    border: 2px solid black;
    margin: 0;
    border-radius: 25px;
    float: right;
    margin-top: 11%;
    margin-right: 10%;
    line-height: 2.5;
}

.education{
    width: 80%;
    padding: 10px;
    border: 2px solid black;
    margin: 0;
    border-radius: 25px;
    float: right;
    margin-top: 11%;
    margin-right: 10%;
    line-height: 2.5;
}

.work{
    width: 80%;
    padding: 10px;
    border: 2px solid black;
    margin: 0;
    border-radius: 25px;
    float: right;
    margin-top: 11%;
    margin-right: 10%;
    line-height: 2.5;
}